  <div class="jumbotron">
    <h1 class="title">采矿人才网</h1>
    <p class="slogan">采矿人才网 是一个提供采矿相关工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上优质的工作。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src='<%= image_url 'w1.jpg' %>' alt="search" class = "img">
            <div class="caption">
              <h3>爆破专家</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src='<%= image_url 'w2.jpg' %>' alt="bid" class = "img">
            <div class="caption">
              <h3>测量高手</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src='<%= image_url 'w3.jpg' %>' alt="heart" class = "img">
            <div class="caption">
              <h3>机械大师</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
